/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: PingFang SC;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

html,
body {
  overflow: auto;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  -webkit-box-shadow:
    inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: #808080;
  min-height: 40px;
  padding-top: 100px;
  border-radius: 4px;
}

.dplayer-controller .dplayer-bar-wrap .dplayer-bar .dplayer-played {
  background-color: #fff !important;
}

.dplayer-controller .dplayer-bar-wrap .dplayer-bar .dplayer-played .dplayer-thumb {
  background-color: #fff !important;
}

#articalHtml .dplayer.dplayer-fulled {
  height: 100vh !important;
  margin: 0 !important;
}

#dplayer.dplayer.dplayer-fulled {
  height: 100vh !important;
  margin: 0 !important;
}

/* .loading-toast {
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.loading-toast .van-toast__loading,
.loading-toast .van-toast__text {
  color: #000000;
}
.loading-toast .van-icon {
  color: #000000;
} */
/* .van-icon-fail {
  color: #ff0000;
} */
/*去掉默认的搜索小图标*/
input[type='search']::-webkit-search-decoration {
  display: none;
}

/*去掉默认的x*/
input[type='search']::-webkit-search-cancel-button {
  display: none;
}

/*去掉ios下的圆角*/
input[type='search'] {
  appearance: none;
  -webkit-appearance: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #333 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.font10 {
  font-size: 12px;
  transform: scale(0.83);
}

.DPlayer {
  margin: 10px 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}


#app::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE 10+ */

}

.scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}


 #app {
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
  font-size: 12px;
}

.h-page {
  height: calc(100vh - var(--mc-header-height));
  padding-bottom: 35px;
  margin-bottom: var(--mc-header-height);
  width: 100%;
  max-width: 375px;
}